.completed{
    text-decoration: line-through;
    color:
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: lightblue;
    z-index: 1;

}
